# SQL Aggregation

In SQL, aggregation functions are used to perform calculations on groups of rows to return a single result. These functions are often used with the GROUP BY clause to group rows based on certain criteria before applying the aggregation.It refers to the process of applying mathematical functions, such as SUM, AVG, COUNT, MIN, and MAX, to a set of values in a database table. These functions are used to perform calculations on groups of rows and return a single result. Aggregation is commonly used to summarize data, calculate totals, averages, counts, and identify minimum and maximum values within a dataset.

#### Use the ERD Diagram to understand and write queries :

![ERD.png](attachment:ERD.png)

## Common Aggregation Functions

1. **COUNT()**: Counts the number of rows in a group.
2. **SUM()**: Calculates the sum of values in a group.
3. **AVG()**: Calculates the average of values in a group.
4. **MIN()**: Returns the minimum value in a group.
5. **MAX()**: Returns the maximum value in a group.

## Syntax
```sql
SELECT aggregation_function(column_name)
FROM table_name
[WHERE condition]
[GROUP BY column_name];

## Handling NULL Values in SQL

In SQL, NULL is a special marker used to indicate that a data value does not exist or is unknown. NULL is not the same as zero or an empty string; it represents a missing or undefined value.

### Characteristics of NULL

- **Absence of Value**: NULL represents the absence of a value in a column.
- **Not Comparable**: NULL cannot be compared using equality operators (=, !=). Instead, special operators like IS NULL and IS NOT NULL are used to check for NULL values.
- **Aggregation**: Aggregation functions like SUM() and AVG() exclude NULL values from calculations.
- **Sorting**: NULL values are treated differently in sorting operations. They are typically considered greater than or less than non-NULL values, depending on the sorting order.
- **Storage**: NULL values do not occupy any storage space in the database.

### Handling NULL Values

1. **Checking for NULL**: Use the IS NULL or IS NOT NULL operators to check whether a value is NULL.
   ```sql
   SELECT column_name
   FROM table_name
   WHERE column_name IS NULL;

2. **Replacing NULL**:COALESCE() or IFNULL() functions can be used to replace NULL values with a specified default value.
   ```sql
   SELECT COALESCE(column_name, default_value) AS alias
   FROM table_name;

3. **Aggregation Functions**:NULL values are typically excluded from aggregation calculations. Use the IFNULL() function to handle NULL values in aggregate functions.
   ```sql
   SELECT SUM(IFNULL(column_name, 0)) AS total_sum
   FROM table_name;

#### Example
Write a query that returns all the web_events where the channel is present.

```sql
    SELECT *
    FROM web_events
    WHERE channel IS NOT NULL;

## COUNT Function in SQL

The COUNT function in SQL is used to count the number of rows in a result set or the number of non-NULL values in a specific column.

### Syntax

To count all rows in a result set:
```sql
    SELECT COUNT(*)
    FROM table_name;

```sql
    SELECT COUNT(column_name) 
    FROM table_name 
    WHERE condition;

#### Example1
To count the total number of rows in a table orders in SQL, you can use the COUNT(*) function. Here's how you can do it:

```sql
SELECT COUNT(*) AS TotalRows
FROM orders;
```
The above query will return a single row containing the total number of rows in the table orders under the column alias "TotalRows."

#### Example2
Counting Rows Based on Condition in SQL

To count the number of rows in a table based on a specific condition, you can use the COUNT function with a WHERE clause. Here's how you can do it:

```sql
    SELECT COUNT(*)
    FROM table_name
    WHERE condition;
```
Count total number of records where total paid amount is less than 1000.

```sql
    SELECT COUNT(*) AS TotalRows
    FROM orders
    WHERE total<1000;
```

#### Example3
Handling NULL Values with COUNT

It's important to note that the COUNT function, by default, includes NULL values in its calculation. If you want to exclude NULL values, you can use the COUNT function with a specific column name that does not contain NULL values.

```sql
    SELECT COUNT(column_name) 
    FROM table_name 
    WHERE column_name IS NOT NULL;
```

# SUM Function in SQL

The SUM function in SQL is used to calculate the sum of values in a column.

## Syntax

To calculate the sum of values in a column:
```sql
SELECT SUM(column_name)
FROM table_name;

#### Example 
Write a query that returns the sum of all standard quality of paper from orders table where total_amt_usd is greaer than 1000.

```sql
    SELECT SUM(standard_qty)
    FROM orders
    WHERE total_amt_usd > 1000;

## MIN and MAX Functions in SQL

The MIN and MAX functions in SQL are used to find the minimum and maximum values in a column, respectively.

### Syntax

To find the minimum value in a column:
```sql
    SELECT MIN(column_name)
    FROM table_name;
```

To find the maximum value in a column:
```sql
    SELECT MAX(column_name)
    FROM table_name;

```

## AVG Function in SQL

The AVG function in SQL is used to calculate the average value of a column.

### Syntax

To calculate the average value of a column:
```sql
SELECT AVG(column_name)
FROM table_name;
```

#### Example
To calculate the average total_amt_used score from the "orders" table, we can use the following query :

```sql
    SELECT AVG(total_amt_used) AS average_total_amt_used FROM orders;
```

The above query will return a single row containing the average total_amt_used of all students under the column alias "average_total_amt_usedd."