<h1 style="color:red" align="center">SQL Logical Operators</h1>

## Introduction
Logical operators in SQL allow for the creation of more sophisticated conditions in queries by combining multiple individual conditions.

## Use Cases
- Filtering data based on multiple criteria.
- Creating complex search queries.
- Specifying conditions for data retrieval.

## Advantages
- Enables flexible and precise data filtering.
- Supports creation of complex queries to meet specific requirements.
- Allows for conditional data retrieval based on various scenarios.

## Limitations
- Complexity increases with the number of conditions, potentially making queries harder to understand and maintain.
- Overuse of complex conditions can degrade query performance.
- Requires careful consideration to avoid logical errors in queries.


#### Use the ERD Diagram to understand and write queries :

![ERD.png](attachment:ERD.png)

### AND Operator in SQL

The AND operator in SQL is used to combine two or more conditions in a WHERE clause. All conditions must be true for the row to be included in the result set.

#### Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition1 AND condition2 AND ...;

### Example Using AND :

#### Write a query that returns all the orders where the standard_qty is over 1100, the poster_qty is 0, and the gloss_qty is 0.

`SELECT *
FROM orders
WHERE standard_qty > 1100 AND poster_qty = 0 AND gloss_qty = 0;`

## OR Operator in SQL

The OR operator in SQL is used to combine two or more conditions in a WHERE clause. At least one of the conditions must be true for the row to be included in the result set.

#### Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition1 OR condition2 OR ...;

#### LIKE, IN, NOT, AND and BETWEEN logic can all be linked together using the OR operator.

### Example Using OR :

#### Find list of orders ids where either gloss_qty or poster_qty is greater than 5000. Only include the id field in the resulting table.

`SELECT id
FROM orders
WHERE gloss_qty > 5000 OR poster_qty > 5000;`

## NOT Operator in SQL

The NOT operator in SQL is used to negate a condition in a WHERE clause. It returns rows where the specified condition is false.

#### Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE NOT condition;

#### The NOT operator is an extremely useful operator for working with these two operators IN and LIKE. By specifying NOT LIKE or NOT IN, we can grab all of the rows that do not meet a particular criteria.

### Example Using NOT :

#### Use the accounts table to find the account name, primary poc, and sales rep id for all stores except Walmart, Target, and Nordstrom.

`SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name NOT IN ('Walmart', 'Target', 'Nordstrom');`

## LIKE Operator in SQL

The LIKE operator in SQL is used to search for a specified pattern in a column. It is commonly used with the WHERE clause to filter rows based on patterns rather than exact matches.

#### Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE column_name LIKE pattern;

- **column_name**: The column in which you want to search for the pattern.
- **pattern**: The pattern to search for. It can include wildcard characters.

The LIKE operator is extremely useful for working with text. You will use LIKE within a WHERE clause. The LIKE operator is frequently used with %. 

The % tells us that we might want any number of characters leading up to a particular set of characters or following a certain set of characters. Remember you will need to use single quotes for the text you pass to the LIKE operator, because of this lower and uppercase letters are not the same within the string. Searching for 'T' is not the same as searching for 't'. 

#### Wildcard Characters

- **%**: Represents zero or more characters.
- **_**: Represents a single character.

### Example

#### The following SQL statement selects all customers with a name starting with "a" in accounts table :

`SELECT * 
FROM accounts
WHERE name LIKE 'a%';`

#### The following SQL statement selects all customers with a name ending with "a" in accounts table :

`SELECT *
FROM accounts
WHERE name LIKE '%a';`

#### The following SQL statement selects all customers with a name that have "or" in any place in their name in accounts table :

`SELECT * 
FROM accounts
WHERE name LIKE '%or%';`

#### The following SQL statement selects all customers with a name that have "r" in the second position in accounts table :

`SELECT * 
FROM accounts
WHERE name LIKE '_r%';`

#### The following SQL statement selects all customers with a name that starts with "a" and are at least 3 characters in length from accounts table :

`SELECT * 
FROM accounts
WHERE name LIKE 'a__%';`

#### The following SQL statement selects all customers with a name that starts with "a" and ends with "o" from accounts table :

`SELECT * 
FROM accounts
WHERE name LIKE 'a%o';`

#### The following SQL statement selects all customers with name that does NOT start with "a" from accounts table :

`SELECT * 
FROM accounts
WHERE name NOT LIKE 'a%';`

#### The following SQL statement selects all customers with a name starting with "a", "t", or "p" from accounts table :

`SELECT * 
FROM accounts
WHERE name LIKE '[atp]%';`

#### The following SQL statement selects all customers with a name does not starting with "a", "t", or "p" from accounts table :

`SELECT *
FROM accounts
WHERE name LIKE '[!atp]%';`

## IN Operator in SQL

The IN operator in SQL is used to specify multiple values in a WHERE clause. It allows you to filter rows based on whether a specified column value matches any value in a list.

- **Purpose**: The IN operator is commonly used when you want to filter rows based on multiple specific values for a particular column.
- **Scenario**: Suppose you have a 'Products' table with a 'Category' column, and you want to retrieve products that belong to certain categories, such as 'Electronics', 'Clothing', and 'Books'.
- **Use**: Instead of writing multiple OR conditions, the IN operator provides a more concise and readable way to specify the desired categories.


#### Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE column_name IN (value1, value2, ...);

### Example

#### Use the accounts table to find the account name, primary_poc, and sales_rep_id for Walmart, Target, and Nordstrom.

`SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name IN ('Walmart', 'Target', 'Nordstrom');`

# BETWEEN Operator in SQL

The BETWEEN operator in SQL is used to filter rows based on a range of values. It allows you to specify a range within which a column value must fall for the row to be included in the result set.

- **Purpose**: The BETWEEN operator is commonly used when you want to filter rows based on a range of values for a particular column.
- **Scenario**: Suppose you have a 'Sales' table with a 'OrderDate' column, and you want to retrieve sales transactions that occurred within a specific date range, such as between January 1, 2023, and March 31, 2023.
- **Use**: The BETWEEN operator provides a concise way to specify the lower and upper bounds of the date range.

## Syntax
```sql
SELECT column1, column2, ...
FROM table_name
WHERE column_name BETWEEN value1 AND value2;

#### Sometimes we can make a cleaner statement using BETWEEN than we can using AND. Particularly this is true when we are using the same column for different parts of our AND statement.

### Instead of writing :

`WHERE column >= 6 AND column <= 10`

### We can instead write, equivalently :

`WHERE column BETWEEN 6 AND 10`

### Difference Between IN and BETWEEN Operators in SQL

- **Values**: 
   - **IN**: Specifies specific values in a list.
   - **BETWEEN**: Specifies a range of values with a lower and upper bound.
- **Usage**: 
   - **IN**: Suitable for discrete values or values from a predefined list.
   - **BETWEEN**: Appropriate for continuous ranges of values, such as numerical or date ranges.
- **Syntax**:
   - **IN**: Uses a list of values enclosed in parentheses.
   - **BETWEEN**: Specifies the lower and upper bounds of the range using the BETWEEN keyword followed by the lower and upper values.