# Sub-Queries and Window Function

In SQL, sub-queries and window functions are advanced techniques used for complex data analysis and manipulation.

## Sub-Queries

A sub-query is a query nested within another query. It allows you to perform queries within queries, enabling you to break down complex tasks into smaller, more manageable parts.

### Syntax

```sql
    SELECT column1, column2, ...
    FROM table_name
    WHERE column_name IN (SELECT column_name FROM another_table WHERE condition);
```

#### Example

```sql
SELECT product_name
FROM products
WHERE category_id IN (SELECT category_id FROM categories WHERE category_name = 'Electronics');
```
This SQL query retrieves the names of products that belong to the 'Electronics' category from the 'products' table. It achieves this by using a subquery to first find the category ID corresponding to the 'Electronics' category from the 'categories' table. Then, it selects the product names from the 'products' table where the category ID matches any of the category IDs found in the subquery result. In essence, it retrieves all products that are categorized under 'Electronics'.


### Types of Subqueries :
Subqueries in SQL can be classified into several types based on their usage and the results they produce:

#### 1. Scalar Subquery
- Returns a single value.
- Can be used wherever an expression is expected in the main query.

#### 2. Row Subquery
- Returns one or more rows.
- Can be used wherever a row or set of rows is expected in the main query.

#### 3. Column Subquery
- Returns one or more columns.
- Can be used wherever a column or set of columns is expected in the main query.

#### 4. Correlated Subquery
- Depends on the outer query for its values.
- Executed once for each row processed by the outer query.

## Scalar Subquery

A scalar subquery in SQL is a type of subquery that returns a single value. It can be used wherever an expression is expected in the main query, such as in the SELECT list, WHERE clause, or as part of an arithmetic operation. Scalar subqueries are useful for retrieving single values that are dynamically determined based on the data in the database.

### Example

Suppose we have a 'Sales' table with a 'Revenue' column, and we want to find the salesperson with the highest revenue. We can use a scalar subquery to achieve this:

```sql
    SELECT salesperson_name
    FROM salespersons
    WHERE revenue = (SELECT MAX(revenue) FROM sales);
```
In this example, the scalar subquery (SELECT MAX(revenue) FROM sales) returns the maximum revenue from the 'Sales' table, and it is used in the WHERE clause to filter the salesperson with that revenue.

## Row Subquery

A row subquery in SQL is a type of subquery that returns one or more rows. It can be used wherever a row or set of rows is expected in the main query, such as in the FROM clause or as a source for a comparison. Row subqueries are useful for retrieving sets of rows that meet specific criteria, and they can be combined with other clauses to perform complex filtering and data retrieval operations.

### Example

Suppose we have a 'Customers' table with customer information and a 'Orders' table with order information. We want to retrieve all customers who have placed at least one order. We can use a row subquery to achieve this:

```sql
    SELECT *
    FROM customers
    WHERE customer_id IN (SELECT DISTINCT customer_id FROM orders);
```

In this example, the row subquery (SELECT DISTINCT customer_id FROM orders) returns the distinct customer IDs from the 'Orders' table, and it is used in the WHERE clause to filter the customers based on whether they have placed orders.

## Column Subquery

A column subquery in SQL is a type of subquery that returns one or more columns. It can be used wherever a column or set of columns is expected in the main query, such as in the SELECT list or as a source for comparison. Column subqueries are useful for retrieving additional information from related tables and incorporating it into the main query's result set.

### Example

Suppose we have a 'Products' table with product information and a 'Categories' table with category information. We want to retrieve all products along with their corresponding category names. We can use a column subquery to achieve this:

```sql
       SELECT product_name, 
              (SELECT category_name FROM categories WHERE categories.category_id = products.category_id) AS category_name
       FROM products;
```

In this example, the column subquery (SELECT category_name FROM categories WHERE categories.category_id = products.category_id) returns the category name corresponding to each product's category ID, and it is used in the SELECT list to retrieve the category name for each product.

## Correlated Subquery

A correlated subquery in SQL is a type of subquery that depends on the outer query for its values. It is executed once for each row processed by the outer query, using values from the current row of the outer query. Correlated subqueries are useful for performing row-level operations that require data from related tables.

### Example

Suppose we have an 'Employees' table with employee information and a 'Departments' table with department information. We want to retrieve all employees along with the department name of each employee. We can use a correlated subquery to achieve this:

```sql
SELECT employee_name, 
       (SELECT department_name FROM departments WHERE departments.department_id = employees.department_id) AS department_name
FROM employees;
```

In this example, the correlated subquery (SELECT department_name FROM departments WHERE departments.department_id = employees.department_id) is executed for each row of the 'Employees' table. It retrieves the department name corresponding to the department ID of each employee, using the department ID from the current row of the outer query.



## Window Functions

Window functions perform calculations across a set of rows related to the current row, without collapsing the result set. They are used to perform complex calculations and analytics within SQL queries.

```sql
    SELECT column1, column2, ..., 
        window_function(column_name) OVER (PARTITION BY partition_column ORDER BY order_column)
    FROM table_name;
```

#### Example

```sql
    SELECT employee_id, salary,
        AVG(salary) OVER (PARTITION BY department_id) AS avg_salary_by_department
    FROM employees;
```
This SQL query retrieves the employee ID, salary, and the average salary for each department from the 'employees' table. It utilizes a window function, specifically the AVG() function, to calculate the average salary over a partition defined by the 'department_id' column.

#### Use the ERD Diagram to write and understand queries :

![erd_diagram.png](attachment:erd_diagram.png)
### Note

#### A running total, also known as a cumulative sum, is a common use case for SQL window functions. It calculates the sum of a column up to the current row, considering the order specified in the query. Here's how you can use window functions to calculate a running total in SQL.

### Example

#### Create a running total of standard_amt_usd (in the orders table) over order time with no date truncation. Your final table should have two columns : one with the amount being added for each new row, and a second with the running total.

```sql
SELECT standard_amt_usd, SUM(standard_amt_usd) OVER (ORDER BY occurred_at) AS running_total 
FROM orders;
```

### Note 

#### ROW_NUMBER() is a window function that assigns a unique integer value to each row within the partition. It starts from 1 for the first row in the partition and increments by 1 for each subsequent row in the order specified.

### Example for ROW_NUMBER()

#### Suppose we have a table called "employees" with columns "employee_name," "department," and "salary," representing employee information and their respective departments and salaries.

```sql
SELECT employee_name, department, salary, ROW_NUMBER() OVER (PARTITION BY department ORDER BY salary DESC) AS row_num 
FROM employees;
```


### Output

![screenshot-2024-05-29.png](attachment:screenshot-2024-05-29.png)


### Explanation

#### Similar to the ROW_NUMBER() example, the OVER clause with PARTITION BY department ORDER BY salary DESC divides the employees into partitions based on their departments and orders them by salary in descending order within each partition.

1. #### For the "HR" department, we have three employees with different salaries. Alice has the highest salary (60000) and gets assigned rank 1. Both Bob and Claire have the same salary (55000), so they get assigned the same rank 2, and there is no rank 3.

2. #### For the "IT" department, David has the highest salary (70000) and gets assigned rank 1, while Emma has the second-highest salary (65000) and gets assigned rank 2.

3. #### For the "Finance" department, Frank has the highest salary (80000), so he is assigned rank 1.