## SQL Aggregation Functions with Date and Case

In SQL, aggregation functions can be used with dates and conditional logic (CASE statements) to perform complex calculations on grouped data.

### Aggregation Functions with Dates

Aggregation functions can be applied to date columns to summarize data over specific time periods, such as days, months, or years.

#### Simple function

```sql
    SELECT DATE_FORMAT(date_column, '%Y-%m') AS month,
        SUM(revenue) AS total_revenue
    FROM sales
    GROUP BY DATE_FORMAT(date_column, '%Y-%m');
```
```sql
    SELECT product_category,
        SUM(CASE WHEN revenue > 1000 THEN 1 ELSE 0 END) AS high_revenue_count,
        SUM(CASE WHEN revenue <= 1000 THEN 1 ELSE 0 END) AS low_revenue_count
    FROM sales
    GROUP BY product_category;
```


## Date Functions in SQL

SQL provides several built-in functions for working with dates and timestamps. Here are some common date functions in SQL:


#### Here are some common date functions used in SQL :

1. #### GETDATE() : 
Returns the current system date and time.

2. #### DATEPART(part, date) : 
Extracts a specific part of the date (e.g., year, month, day, hour, minute) from the given date.

3. #### DATEADD(interval, number, date) : 
Adds or subtracts a specific interval (e.g., year, month, day, hour, minute) and a number of intervals to or from the given date.

4. #### DATEDIFF(interval, start_date, end_date) :
Calculates the difference between two dates based on the specified interval.

5. #### CONVERT() : 
Converts a date from one data type to another. This is especially useful for formatting dates into different styles.

6. #### DAY(), MONTH(), YEAR() : 
Extracts the day, month, or year from a given date, respectively.

7. #### DATEPART(dw, date) : 
Returns the day of the week as an integer (1 for Sunday, 2 for Monday, and so on).

8. #### DATENAME(dw, date) : 
Returns the name of the day of the week (e.g., Sunday, Monday, etc.).

### Here are some examples of how you might use these functions :

** Get the current date and time 

`SELECT GETDATE();
`

** Extract the year, month, and day from a given date 

`SELECT DATEPART(YEAR, '2023-07-29') AS Year, DATEPART(MONTH, '2023-07-29') AS Month, DATEPART(DAY, '2023-07-29') AS Day;
`

** Add 3 months to a date 

`SELECT DATEADD(MONTH, 3, '2023-07-29');
`

**Calculate the difference between two dates in days

`SELECT DATEDIFF(DAY, '2023-07-29', '2023-12-25');
`

** Get the name of the day of the week for a given date 

`SELECT DATENAME(dw, '2023-07-29') AS DayOfWeek;
`

## CASE Function in SQL

The CASE function in SQL is a conditional expression that allows you to perform conditional logic within SQL queries. It can be used to evaluate conditions and return different values based on those conditions.

### Syntax

The basic syntax of the CASE function is as follows:

```sql
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ...
    ELSE default_result
END

### Simple CASE

The simple CASE expression compares an expression to a set of simple expressions to determine the result. It's useful when you need to evaluate a single expression against multiple possible values.

### Example

```sql
    SELECT 
        CASE grade
            WHEN 'A' THEN 'Excellent'
            WHEN 'B' THEN 'Good'
            WHEN 'C' THEN 'Fair'
            ELSE 'Poor'
        END AS grade_category
    FROM students;
```

### Searched Case
The searched CASE expression evaluates a set of Boolean expressions to determine the result. It's useful when you need to evaluate multiple conditions.

### Example

```sql
    SELECT 
        CASE 
            WHEN score >= 90 THEN 'A'
            WHEN score >= 80 THEN 'B'
            WHEN score >= 70 THEN 'C'
            ELSE 'D'
        END AS grade
    FROM exam_results;
```